In [1]:
import pandas as pd
import numpy as np

In [2]:
india = pd.read_csv('data/india.txt', sep='\t', encoding='utf-8')

In [3]:
india = india[:200]

In [4]:
arr  = india.values
X = []
y = []
for val in arr : 
    val = val[0]
    feature = str(val).split(',')
    X.append(feature[:-1])
    y.append(feature[-1])

In [5]:
all_X = []
for i in range(len(X)):
    row = ''
    for elem in X[i][:-1]:
        row += str(elem) + ' '
    row += str(X[i][-1])
    all_X.append(row)

In [6]:
f = open('data/indiatest.txt', 'w')
f.write('X=[')
for row in all_X[:-1]:
    f.write(row)
    f.write('; ')
 
f.write(all_X[-1])   
f.write(']\n')

f.write('Y=[')
for row in y[:-1]:
    f.write(row)
    f.write(', ')
f.write(y[-1])
f.write(']')
f.close()

In [50]:
ionosphere = pd.read_csv('/Users/zakariatozy/Library/Mobile Documents/com~apple~CloudDocs/IPP/IPP ZAK/RO/Projet_RODM_2023/data/ionosphere.data')

In [51]:
ionosphere.head()

,1,0,0.99539,-0.05889,0.85243,0.02306,0.83398,-0.37708,1.1,0.03760,...,-0.51171,0.41078,-0.46168,0.21266,-0.34090,0.42267,-0.54487,0.18641,-0.45300,g
0,1,0,1.00000,-0.18829,0.93035,-0.36156,-0.10868,-0.93597,1.00000,-0.04549,...,-0.26569,-0.20468,-0.18401,-0.19040,-0.11593,-0.16626,-0.06288,-0.13738,-0.02447,b
1,1,0,1.00000,-0.03365,1.00000,0.00485,1.00000,-0.12062,0.88965,0.01198,...,-0.40220,0.58984,-0.22145,0.43100,-0.17365,0.60436,-0.24180,0.56045,-0.38238,g
2,1,0,1.00000,-0.45161,1.00000,1.00000,0.71216,-1.00000,0.00000,0.00000,...,0.90695,0.51613,1.00000,1.00000,-0.20099,0.25682,1.00000,-0.32382,1.00000,b
3,1,0,1.00000,-0.02401,0.94140,0.06531,0.92106,-0.23255,0.77152,-0.16399,...,-0.65158,0.13290,-0.53206,0.02431,-0.62197,-0.05707,-0.59573,-0.04608,-0.65697,g
4,1,0,0.02337,-0.00592,-0.09924,-0.11949,-0.00763,-0.11824,0.14706,0.06637,...,-0.01535,-0.03240,0.09223,-0.07859,0.00732,0.00000,0.00000,-0.00039,0.12011,b

In [52]:
ionosphere['g'] = ionosphere['g'].map({'g': 1, 'b': 0})

In [53]:
arr  =  ionosphere.values
X = []
y = []
for val in arr : 
    feature = val
    X.append(feature[:-1])
    y.append(feature[-1])

In [54]:
all_X = []
for i in range(len(X)):
    row = ''
    for elem in X[i][:-1]:
        row += str(elem) + ' '
    row += str(X[i][-1])
    all_X.append(row)

In [55]:
f = open('/Users/zakariatozy/Library/Mobile Documents/com~apple~CloudDocs/IPP/IPP ZAK/RO/Projet_RODM_2023/data/ionosphere.txt', 'w')
f.write('X=[')
for row in all_X[:-1]:
    f.write(str(row))
    f.write('; ')
 
f.write(str(all_X[-1]))   
f.write(']\n')

3

In [58]:
all_X[9]

'1.0 0.0 1.0 0.06655 1.0 -0.18388 1.0 -0.2732 1.0 -0.43107 1.0 -0.41349 0.96232 -0.51874 0.90711 -0.59017 0.8923 -0.66474 0.69876 -0.70997 0.70645 -0.7632 0.63081 -0.80544 0.55867 -0.89128 0.47211 -0.865 0.40303 -0.83675 0.30996 -0.89093 0.22995 -0.89158'

In [61]:

f.write('Y=[')
for row in y[:-1]:
    f.write(str(row))
    f.write(', ')
f.write(str(y[-1]))
f.write(']')
f.close()