In [1]:
import pandas as pd
import numpy as np

In [2]:
india = pd.read_csv('data/india.txt', sep='\t', encoding='utf-8')

In [3]:
india = india[:200]

In [4]:
arr  = india.values
X = []
y = []
for val in arr : 
    val = val[0]
    feature = str(val).split(',')
    X.append(feature[:-1])
    y.append(feature[-1])

In [5]:
all_X = []
for i in range(len(X)):
    row = ''
    for elem in X[i][:-1]:
        row += str(elem) + ' '
    row += str(X[i][-1])
    all_X.append(row)

In [6]:
f = open('data/indiatest.txt', 'w')
f.write('X=[')
for row in all_X[:-1]:
    f.write(row)
    f.write('; ')
 
f.write(all_X[-1])   
f.write(']\n')

f.write('Y=[')
for row in y[:-1]:
    f.write(row)
    f.write(', ')
f.write(y[-1])
f.write(']')
f.close()

In [7]:
ionosphere = pd.read_csv('data/ionosphere.data', sep='\t', encoding='utf-8')

In [8]:
arr  = india.values
X = []
y = []
for val in arr : 
    val = val[0]
    feature = str(val).split(',')
    X.append(feature[:-1])
    y.append(feature[-1])

In [9]:
f = open('data/ionosphere.txt', 'w')
f.write('X=[')
for row in all_X[:-1]:
    f.write(row)
    f.write('; ')
 
f.write(all_X[-1])   
f.write(']\n')

f.write('Y=[')
for row in y[:-1]:
    f.write(row)
    f.write(', ')
f.write(y[-1])
f.write(']')
f.close()

In [8]:
df1 = pd.read_csv("main_results.csv"); df1

,Dataset,Train size,Test size,Feature count,D,Model type,Time (s),Gap (%),Train/Test errors
0,iris,120,30,4,2,Univarié,15.2,0.0%,5/1
1,iris,120,30,4,2,Multivarié,1.1,0.0%,1/3
2,iris,120,30,4,3,Univarié,30.1,1.7%,2/3
3,iris,120,30,4,3,Multivarié,2.5,0.0%,0/0
4,iris,120,30,4,4,Univarié,30.2,3.4%,4/3
5,iris,120,30,4,4,Multivarié,28.0,0.0%,0/2
6,seeds,168,42,6,2,Univarié,30.1,6.8%,12/2
7,seeds,168,42,6,2,Multivarié,1.8,0.0%,0/1
8,seeds,168,42,6,3,Univarié,30.1,7.0%,10/2
9,seeds,168,42,6,3,Multivarié,11.7,0.0%,0/0
10,seeds,168,42,6,4,Univarié,30.2,46.1%,35/6
11,seeds,168,42,6,4,Multivarié,30.2,2.4%,1/2
12,wine,142,36,13,2,Univarié,30.1,3.6%,5/2
13,wine,142,36,13,2,Multivarié,0.9,0.0%,0/1
14,wine,142,36,13,3,Univarié,30.1,2.9%,4/2
15,wine,142,36,13,3,Multivarié,0.7,0.0%,0/1
16,wine,142,36,13,4,Univarié,30.2,15.4%,16/9
17,wine,142,36,13,4,Multivarié,10.9,0.0%,0/1
18,diabetes,160,40,8,2,Univarié,30.1,28.0%,35/9
19,diabetes,160,40,8,2,Multivarié,30.1,15.1%,21/13
20,diabetes,160,40,8,3,Univarié,30.1,28.0%,35/9
21,diabetes,160,40,8,3,Multivarié,30.2,26.0%,25/15
22,diabetes,160,40,8,4,Univarié,30.8,28.0%,35/15
23,diabetes,160,40,8,4,Multivarié,30.2,29.0%,30/14
24,ionosphere,160,40,8,2,Univarié,30.0,27.0%,34/11
25,ionosphere,160,40,8,2,Multivarié,30.0,15.1%,20/13
26,ionosphere,160,40,8,3,Univarié,30.1,27.0%,34/10
27,ionosphere,160,40,8,3,Multivarié,30.2,24.0%,20/13
28,ionosphere,160,40,8,4,Univarié,30.1,28.0%,35/15
29,ionosphere,160,40,8,4,Multivarié,30.2,29.0%,30/14

In [12]:
df2 = pd.read_csv("main_merge_results.csv"); df2.head(10)

,Dataset,Train Size,Test Size,Features Count,D,Method,Gamma,# Clusters,Gap,Error Train/Test,Time
0,iris,120,30,4,2,Univarié,0.0%,3 clusters,0.0%,38/12,0.0s
1,iris,120,30,4,2,Univarié,20.0%,24 clusters,0.0%,5/1,0.2s
2,iris,120,30,4,2,Univarié,40.0%,48 clusters,0.0%,5/1,0.3s
3,iris,120,30,4,2,Univarié,60.0%,72 clusters,0.0%,5/1,1.0s
4,iris,120,30,4,2,Univarié,80.0%,96 clusters,0.0%,5/1,2.6s
5,iris,120,30,4,2,Univarié,100.0%,120 clusters,0.0%,5/1,4.6s
6,iris,120,30,4,2,Multivarié,0.0%,3 clusters,0.0%,38/12,0.1s
7,iris,120,30,4,2,Multivarié,20.0%,24 clusters,0.0%,1/0,0.2s
8,iris,120,30,4,2,Multivarié,40.0%,48 clusters,0.0%,1/3,0.7s
9,iris,120,30,4,2,Multivarié,60.0%,72 clusters,0.0%,1/3,1.4s

In [25]:
df3 = pd.read_csv("meanshift_results.csv"); df3.head(10)

,dataset_name,train_size,test_size,features_count,D,bandwith,# clusters,Gap,Erreurs_train_test,time
iris,120,30,4,2,Univarié,0.5,4,0.0%,53/18,0.0s
iris,120,30,4,2,Univarié,1.0,3,0.0%,43/13,0.0s
iris,120,30,4,2,Univarié,1.5,4,0.0%,59/12,0.0s
iris,120,30,4,2,Univarié,2.0,6,0.0%,7/3,0.0s
iris,120,30,4,2,Univarié,3.0,6,0.0%,64/14,0.0s
iris,120,30,4,2,Multivarié,0.5,3,0.0%,38/12,0.0s
iris,120,30,4,2,Multivarié,1.0,3,0.0%,19/3,0.0s
iris,120,30,4,2,Multivarié,1.5,4,0.0%,38/12,0.0s
iris,120,30,4,2,Multivarié,2.0,5,0.0%,38/12,0.0s
iris,120,30,4,2,Multivarié,3.0,5,0.0%,38/12,0.0s

In [24]:
df4 = pd.read_csv("DBSCAN_results.csv"); df4.head(10)

,Dataset,TrainSize,TestSize,FeatureCount,D,Multivarié/Univarié,Epsilon,#,Gap,ErreursTrain/Test,Time
0,iris,120,30,4,2,Univarié,0.0%,3,0.0%,43/13,0.0s
1,iris,120,30,4,2,Univarié,25.0%,3,0.0%,43/13,0.0s
2,iris,120,30,4,2,Univarié,50.0%,3,0.0%,43/13,0.0s
3,iris,120,30,4,2,Univarié,75.0%,3,0.0%,43/13,0.0s
4,iris,120,30,4,2,Univarié,100.0%,3,0.0%,43/13,0.0s
5,iris,120,30,4,2,Multivarié,0.0%,3,0.0%,38/12,0.0s
6,iris,120,30,4,2,Multivarié,25.0%,3,0.0%,38/12,0.0s
7,iris,120,30,4,2,Multivarié,50.0%,3,0.0%,38/12,0.0s
8,iris,120,30,4,2,Multivarié,75.0%,3,0.0%,38/12,0.0s
9,iris,120,30,4,2,Multivarié,100.0%,3,0.0%,38/12,0.0s

In [27]:
df5 = pd.read_csv("agglomeration_results.csv"); df5.head(10)

,Dataset,Method,Train Size,Test Size,Features Count,D,Linkage,# Clusters,Gap,Errors Train/Test,Time
0,iris,Univarié,120,30,4,2,Single,1,0.0%,82/18,0.0s
1,iris,Univarié,120,30,4,2,Single,2,0.0%,38/12,0.0s
2,iris,Univarié,120,30,4,2,Single,3,0.0%,38/12,0.0s
3,iris,Univarié,120,30,4,2,Single,4,0.0%,38/12,0.0s
4,iris,Univarié,120,30,4,2,Single,5,0.0%,38/12,0.0s
5,iris,Univarié,120,30,4,2,Single,6,0.0%,38/12,0.0s
6,iris,Univarié,120,30,4,2,Single,7,0.0%,38/12,0.0s
7,iris,Univarié,120,30,4,2,Single,8,0.0%,38/12,0.0s
8,iris,Univarié,120,30,4,2,Single,9,0.0%,38/12,0.0s
9,iris,Univarié,120,30,4,2,Single,10,0.0%,35/12,0.1s